p {
    color: black;
    font-size: 20px;
}

#highlight {
    text-align: center;
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
}

.header{
    font-size: 40px;
    font-weight: bold;
}

.createID{
    background-color: green;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

a:link{
    color: black; /* Default color */
    text-decoration: none; /* Remove underline */
}

/* Hover state */
a:hover {
    color: lightblue; /* Color when hovered */
}

/* Active state (clicked) */
a:active {
    color: blue; /* Color when clicked */
}

a:visited{
    color: red;
}