p {  /* change to a html tag*/
    color: black;
    font-size: 20px;
}

#highlight {
    text-align: center;
    background-color: yellow;
    padding: 10px;      /*box Model change 1*/
    border: 1px solid black;
}

.header{
    font-size: 40px;
    font-weight: bold;
}

.createID{
    background-color: green;
    color: black;
    border: 2px solid black;
    margin: 20px;       /*Box model change 2*/
    padding: 20px;
    text-align: center;
}

a:link{
    color: black; /* Default color */
}

/* Hover state of link*/
a:hover {
    color: red; /* Color when hovered */
}

a:visited{
    color: blue;
}