p {
    color: blue;
    font-size: 16px;
}

.highlight {
    text-align: center;
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
}

.header{
    font-size: 40px;
    font-weight: bold;
}
